<div class="container">
    <div class="left common" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-once="true">
        <div class="img-container">
            <img class="me" src="">
        </div>
        <div class="content">
            <div class="upper">
                <span class="who bold">
                    Who Am I?
                </span>
            </div>
            <div class="lower">
                <div class="topLower">
                    I'm a Front-End Developer for<span class="highlight">&nbsp;Libsys&nbsp;</span>in Gurugram, India.
I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
                </div>
                <div class="bottomLower">
                    <span class="highlight">Let's make something special.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right common" data-aos="zoom-in-left" data-aos-duration="1000" data-aos-once="true">
        <div class="bar" *ngFor="let skill of myskills">
            <div class="fill" data-aos-easing="ease-in-out" data-aos-duration="2000" #fill></div>
            <div class="name">{{skill?.name}}</div>
            <span class="rate">{{skill?.rate}}</span>
        </div>
    </div>
</div>