<div class="about" >   
    <div class="heading">
        <span  data-aos="fade-right" data-aos-anchor="#example-anchor"  data-aos-duration="1000" data-aos-once="true">ABOUT</span>    
    </div>
    <div class="line-container">    
            <span class="line" data-aos="fade-right" data-aos-anchor="#example-anchor"  data-aos-duration="1000" data-aos-once="true"></span>
    </div>
    <div class="para-container">
        <div class="parameter" *ngFor="let parameter of aboutData"  data-aos="flip-right" data-aos-once="true">
            <div class="hex-wrap">
                <div class="hexagon">
                    <i [class]="parameter?.icon"></i>
                </div>
            </div>
            <div class="title">{{parameter?.title}}</div>
            <div class="detail">{{parameter?.detail}}</div>
        </div>
    </div>
</div>
