<div class="about">   
    <div class="heading animated slideInLeft">
        <span>ABOUT</span>    
    </div>
    <div class="line-container animated slideInLeft">    
            <span class="line"></span>
    </div>
    <div class="para-container">
        <div class="parameter" *ngFor="let parameter of aboutData">
            <div class="hex-wrap shake animated">
                <div class="hexagon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
            <div class="title">{{parameter?.title}}</div>
            <div class="detail">{{parameter?.detail}}</div>
        </div>
    </div>
</div>
