<div class="container">
    <div class="header">
        <div class="label">CONTACT</div>
        <div class="line-container">
            <span class="line"></span>
        </div>
    </div>
    <div class="contact-form">
            <div class="text">
                {{contactText}}
            </div>
            <div class="form">
                <form [formGroup]="contactForm" >
                    <input type="text" placeholder="Name" formControlName="name">
                    <input type="text" placeholder="Email" formControlName="email">
                    <textarea placeholder="Your Message" formControlName="message"></textarea>
                    <div class="submit">submit</div>
                </form>
            </div>
    </div>
</div>