<div class="projects" >   
    <div class="heading">
        <span>Blogs</span>    
    </div>
    <div class="line-container">    
            <span class="line"></span>
    </div>
    <div class="grid">
        <div class="content" *ngFor="let project of currentProjects">
            <div class="card" [style.backgroundImage]="'url('+ project.imgUrl+')'">
            </div>
            <div class="hover-content">
                <div class="text">{{project?.title}}</div>
                <div class="highLight">{{project?.tech}}</div>
            </div>
        </div>
    </div>
</div>