@import '../../sass/mixins';

.fixed{
  top: 0;
  bottom: inherit;
  left: 0;
  position: fixed;  
}

.desk {
  animation: popDown .5s;
}
#particles-js {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #160f10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .intro{
    font-size: 32pt;
    line-height: 36pt;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    align-items: center;
    place-content: center;
    .btn{
    display: flex;
    align-items: center;
    place-content: center;
    .view-btn{
      position: relative;
        @include btn;
        &:hover{
          .fa-arrow-right{
            transform: rotate(90deg);
          }
        }
        .fa-arrow-right{
          transition: transform .3s;
          position: absolute;
          right: 15px;
          top: 28px;
        }
      }
    }
    .intro-text{
      text-align: center;
      margin: 0 0 20px 0;
      .highlight{
        color:#E31B6D;
      }
    }
  }
.main{
  height: 100%;
  width: 100%;
  display: inline-block;
  .home{
    height: 100%;
    width: 100%;
    .menu-bar{
      background-color:#1B242F;
      height: 50px;
      width: 100%;
      border-bottom: 3px solid #04C2C9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-content: center;
      z-index: 99999;
      .options{
  
        .option{
            color: #ffffff;
            margin: 0 20px;
            text-transform: uppercase;
        }
      }
    }
  }
  .about-me{
    display: inherit;
    width: 100%;
    padding-bottom: 175px;
  }

  .contact{
    width: 100%;
    .contact-curve{
      background: #252934;
      height: 175px;
      width: 100%;
      border-top-left-radius: 50% 20%;
      border-top-right-radius: 50% 20%;
    }
  }

  .footer{
    background: #252934;
    padding-top: 175px;
    display: inline-block;
    width: 100%;
  }
}
