<section class="main">
    <section class="home" #home>
        <div id="particles-js"></div>
        <div class="intro">
            <div class="intro-text">
                Hello, I'm 
                <span class="highlight">
                    Rishabh Dangwal
                </span>
                <br>
                I'm a full-stack web developer.
            </div>
            <div class="btn">
                <div class="view-btn">
                    View my work<i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <nav class="menu-bar" #menu>
            <div class="options">
                <span class="option" *ngFor="let option of menuOptions;let i=index;" (click)="selectOption(i)">{{option}}</span>
            </div>
        </nav>
    </section>
    <section class="about" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <about-us></about-us>
    </section>
    <section class="about-me">
        <rishabh></rishabh>
    </section>
    <section class="projects"  data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <projects></projects>
    </section>
    <section class="blogs">
        <!-- <blog></blog> -->
    </section>
    <section class="contact">
        <section class="contact-curve">
        </section>
        <contact-me></contact-me>
    </section>
    <section class="footer">
        <footer></footer>
    </section>
</section>